alertmanager:
  datadir: /var/lib/alertmanager
  config_file: /etc/alertmanager/alertmanager.yml
  external_url: http://127.0.0.1:9093/
  global:
    resolve_timeout: 5m
  config:
    receiver: default
    group_by: "[ instance, alertname, summary ]"
    group_wait: 5s
    group_interval: 1m
    repeat_interval: 5h
  receivers:
    alert_slack:
      type: slack
      config:
        send_resolved: true
        channel: 'cp-monitoring'
        username: 'CP Alerts'
        icon_emoji: 'ghost'
        title: '{{ if eq .Status "firing" }}Alert {{ else }}Resolved {{ end }}'
        text: "<!channel>\n{{ range .Alerts }}\t{{ .Annotations.summary }}\n{{ end }}"
    triage_email:
      type: email
      config:
        send_resolved: false
        require_tls: false
        to: 'nobody@nowhere.ca'
        smarthost: 'localhost:25'
        from: 'alertmanager@nowhere.ca'
