{% from "alertmanager/map.jinja" import alertmanager with context %}

# THIS FILE IS MANAGED BY SALT
global:
  {%- for name, value in alertmanager.global|dictsort %}
  {{ name }}: {% if value is string -%} "{{ value.encode('string_escape') }}" {%- else -%} {{ value }} {%- endif -%}
  {%- endfor %}

route:
  {%- for name, value in alertmanager.config|dictsort %}
  {{ name }}: {{ value }}
  {%- endfor %}
  routes:
    {%- for route_name, route in alertmanager.receivers|dictsort %}
    - match:
        severity: {{ route_name }}
    {%- if 'repeat_interval' in route %}
      repeat_interval: {{ route.repeat_interval }}
    {%- endif %}
    {%- if 'group_interval' in route %}
      group_interval: {{ route.group_interval }}
    {%- endif %}
      receiver: {{ route_name }}
    {%- endfor %}

receivers:
{%- for receiver_name, receiver in alertmanager.receivers|dictsort %}
- name: {{ receiver_name }}
  {{ receiver.type }}_configs:
  {%- for name, value in receiver.config|dictsort %}
  {%- if loop.index == 1 %}
  - {{ name }}: {% if value is string -%} "{{ value.encode('unicode_escape') }}" {%- else -%} {{ value }} {%- endif -%}
  {%- else %}
    {{ name }}: {% if value is string -%} "{{ value.encode('unicode_escape') }}" {%- else -%} {{ value }} {%- endif -%}
  {%- endif %}
  {%- endfor %}
{%- endfor %}
